<header class="container">
    <nav class="header-nav inner-container">
        <a class="header-title" href="/">saveToLater</a>
        <ul>
            <li><a href="/books">Bookmarks</a></li>
            <li><a href="/books/new">Add Bookmark</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Add User</a></li>
        </ul>
    </nav>
</header>